name: CI
on:
    push:
        branches:
            - main
        tags: ["*"]
        paths-ignore:
            - "LICENSE.md"
            - "README.md"
            - ".github/workflows/CompatHelper.yml"
            - ".github/workflows/TagBot.yml"
            - "docs/**"
    pull_request:
        paths-ignore:
            - "LICENSE.md"
            - "README.md"
            - ".github/workflows/CompatHelper.yml"
            - ".github/workflows/TagBot.yml"
            - "docs/**"
    workflow_dispatch:

concurrency:
    # Skip intermediate builds: always.
    # Cancel intermediate builds: only if it is a pull request build.
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
    test:
        name: Julia ${{ matrix.julia-version }} - ${{ matrix.os }} - ${{ matrix.julia-arch }} - threads ${{ matrix.julia-threads }}
        runs-on: ${{ matrix.os }}
        env:
            JULIA_NUM_THREADS: ${{ matrix.julia-threads }}
        strategy:
            fail-fast: false
            matrix:
                julia-version:
                    - "1.10"
                    - "1.11"
                    - "1.12"
                    - "nightly"
                os:
                    - ubuntu-latest
                    - macos-latest
                    - windows-latest
                julia-arch:
                    - x64
                julia-threads:
                    - "1"
                    - "2"
        steps:
            - uses: actions/checkout@v5
            - uses: julia-actions/setup-julia@v2
              with:
                  version: ${{ matrix.julia-version }}
            - run: julia -e 'using InteractiveUtils; versioninfo(verbose=true)'
            - uses: julia-actions/cache@v2
            - uses: julia-actions/julia-buildpkg@v1
            - uses: julia-actions/julia-runtest@v1
            - uses: julia-actions/julia-processcoverage@v1
              with:
                  directories: src
            - uses: codecov/codecov-action@v5
              with:
                  files: lcov.info
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    docs:
        name: Documentation
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v5
            - uses: julia-actions/setup-julia@v2
              with:
                  version: "1"
            - uses: julia-actions/julia-buildpkg@v1
            - uses: julia-actions/julia-docdeploy@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - run: |
                  julia --project=docs -e '
                    using Documenter: DocMeta, doctest
                    using WhatsThePoint
                    DocMeta.setdocmeta!(WhatsThePoint, :DocTestSetup, :(using WhatsThePoint); recursive=true)
                    doctest(WhatsThePoint)'
